@charset "utf-8";
/* 基本 */
html {
    width: 100%;
    height: 100%;
    font-size : 8px; 
}

body {
        width: 100%;
        height: 100%;
	margin: 0;
        padding: 0;
	font-family: 'Hiragino Kaku Gothic ProN';
        text-align: center;
        background-color: white;
}
 
@media screen and (min-width : 320px){
    html{ font-size : 8px;}
}

@media screen and (min-width : 360px){
    html{ font-size : 10px;}
}

@media screen and (min-width : 480px){
    html{ font-size : 12px;}
}

@media screen and (min-width : 640px){
    html{ font-size : 14px;}
}

@media screen and (min-width : 768px){
    html{ font-size : 16px;}
}

@media screen and (min-width : 1024px) {
    html{ font-size : 24px;}
}

header {
    height: 10%;
    background-color: #3c84d5;
    margin-bottom: 5%;
    z-index: 1;
}

h1 {
    position: absolute;
    width: 100%;
    height: 10%;
    line-height: 250%;
    margin: 0;
    padding: 0;
    font-size: 3rem;
    color: white;
    z-index: 2;
}

header a {
    display: block;
    height: 100%;
    width: 2rem;
    padding-top: 5%;
    padding-left: 5%;
}

header a img {
    height: 50%;
    z-index: 100;
}

.icon {
    display: inline-block;
    width: 30%;
    margin: 5%;
}

.icon a {
    text-decoration:none;
    background:none;
    border:none;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
    outline: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.icon a img {
    width: 100%;
    background:none;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
    outline: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.icon a img:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
}

.icon p {
    font-size: 2rem;
}

.icon_dis {
    display: inline-block;
    width: 30%;
    margin: 5%;
}

.icon_dis a {
    text-decoration:none;
    background:none;
    border:none;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
    outline: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.icon_dis a img {
    width: 100%;
    background:none;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
    outline: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.icon_dis p {
    font-size: 2rem;
}